#page-container {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#users-container {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin: 40px;
    right: 0;
}

.user-group {
    position: relative;
    margin-left: 40px;
    border-radius: 100px;
    opacity: 0.85;
    background: #FFC107;
    border: 3px solid #fff;
    display: flex;
}

.user-group.active {
    border-color: #4a9fef;
    box-shadow: 0 0 20px #315677;
}

.user-cash {
    line-height: 54px;
    font-size: 30px;
    font-family: monospace;
    margin: 0 6px;
    color: #795548;
    display: flex;
}

.user-avatar {
    background: #ccc;
    border-radius: 28px;
    overflow: hidden;
    border: 3px solid #fff;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    position: relative;
    margin-left: -3px;
}

.user-avatar:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 48px;
    width: 48px;
    background-size: 48px 48px;
    background-image: url("/static/images/default_avatar.png");
}

.user-role {
    overflow: hidden;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    top: 16px;
    left: -20px;
    position: absolute;
    border-radius: 28px;
}

#chat-switch {
    background: #0084ff url("/static/images/chat.png") no-repeat center;
    background-size: 18px 18px;
    border-radius: 36px;
    overflow: hidden;
    border: 2px solid #fff;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    top: 82px;
    right: 31px;
    position: absolute;
    cursor: pointer;
}

#chat-card {
    width: 432px;
    height: 520px;
}

.center-card {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#chat-card .card-content-container {
    display: flex;
    flex-direction: column;
    padding: 16px 20px 20px;
}

#chat-card-title {
    align-items: center;
    text-align: center;
    font-size: 32px;
    color: #0084ff;
    margin-bottom: 40px;
}

#chat-message-container {
    flex-grow: 1;
}

#chat-send-message {
    color: #666;
    width: 296px;
    height: 32px;
    line-height: 32px;
    background: #ffffff;
    border: 1px #cccccc solid;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    padding: 0 8px;
}

#chat-send-container {
    display: flex;
    justify-content: space-between;
}

#modal-card {
    width: 432px;
    height: fit-content;
    overflow: initial;
}

#modal-card .card-content-container {
    display: flex;
    flex-direction: column;
    padding: 100px 20px 20px 20px;
    position: relative;
}

#modal-user-avatar {
    top: -72px;
    left: 144px;
    background: #ccc;
    border-radius: 68px;
    overflow: hidden;
    border: 4px solid #fff;
    width: 128px;
    height: 128px;
    vertical-align: middle;
    position: absolute;
}

#modal-user-avatar:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 128px;
    width: 128px;
    background-size: 128px 128px;
    background-image: url("/static/images/default_avatar.png");
}

#modal-user-avatar.active {
    box-shadow: 0 0 40px #5db0fd;
}

#modal-buttons-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 20px;
}

#modal-buttons-container button {
    margin: 0 10px;
}

.monopoly-cash {
    text-decoration: line-through;
}