#join-card-container {
    width: 432px;
    padding: 16px 20px 20px;
    display: flex;
    position: relative;
    overflow: inherit;
    margin-top: 80px;
}

.card-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#user-avatar {
    background: #ccc;
    border-radius: 68px;
    overflow: hidden;
    border: 4px solid #fff;
    width: 128px;
    height: 128px;
    vertical-align: middle;
    top: -80px;
    left: 146px;
    position: absolute;
}

#user-avatar:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 128px;
    width: 128px;
    background-size: 128px 128px;
    background-image: url("/static/images/default_avatar.png");
}

#joined-users-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.joined-user-avatar {
    background: #ccc;
    border-radius: 36px;
    overflow: hidden;
    border: 4px solid #fff;
    width: 64px;
    height: 64px;
    margin: 10px 0;
    position: relative;
}

.joined-user-avatar::before {
    content: ' ';
    display: block;
    position: absolute;
    height: 64px;
    width: 64px;
    background-size: 64px 64px;
    background-image: url("/static/images/default_avatar.png");
}

#start-game {
    margin: 20px 0;
}

input {
    color: #666;
    width: 296px;
    height: 32px;
    line-height: 32px;
    background: #ffffff;
    border: 1px #cccccc solid;
    border-radius: 3px;
    font-size: 14px;
    padding: 0 8px;
}

hr {
    margin: 10px 0;
    border: 0.5px #ccc solid;
}

#invitation-container {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#invitation-note {
    font-size: 13px;
    color: #666;
    margin: 10px 0 5px 0;
}

#new-game-notice {
    align-items: center;
    text-align: center;
    font-size: 32px;
    color: #0084ff;
    margin-bottom: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #555;
}

.tooltip .tooltiptext.shown {
    visibility: visible;
    opacity: 1;
}

#init-profile {
    background-color: #FF5722 !important;
    flex-grow: 1;
}

#init-profile:hover {
    background-color: #FF7043 !important;
}