#login-container {
    margin: 0;
    width: 432px;
    position: relative;
}

#login-title {
    text-transform: capitalize;
    margin: 15px 0 40px 0;
    color: #0084ff;
    font-size: 22px;
}

input {
    border: none;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
    color: #1a1a1a;
    outline: none;
}

#login-first-name, #login-last-name {
    flex-grow: 0.5;
}

#login-name-group {
    display: flex;
}

#login-name-group, #login-user-name, #login-password, #login-email {
    width: 100%;
    height: 48px;
    line-height: 48px;
}

#login-submit {
    text-transform: capitalize;
    width: 100%;
    margin-top: 30px;
    height: 34px;
}

#login-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    height: 58px;
    border-top: 1px solid #ebebeb;
    font-size: 16px;
    color: #175199;
    cursor: pointer;
    margin-bottom: 0;
}

#form-container {
    margin: 0;
    position: relative;
    z-index: 100;
    background: inherit;
    padding: 20px 36px 20px;
    display: flex;
    flex-direction: column;
}

input {
    background: inherit;
}

.card-content-container {
    position: relative;
}
  
#login-error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 432px;
    background-color: #ef5350;
    height: 48px;
    border-top: 1px solid #ebebeb;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0;
}