{% extends "base.html" %}
{% load static %}

{% block title %} Monopoly {% endblock %}

{% block files %}
<link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock %}

{% block content %}
<div id="game-container">
    <img id="user-avatar" src="{{ profile.info.avatar }}">
    <div id="cash-card" class="card">
        <div class="card-blur-container">
            <div class="card-blur"></div>
        </div>
        <div class="card-content-container">
            $2333
        </div>
    </div>
    <div id="chat-card" class="card center-card">
        <div class="card-blur-container">
            <div class="card-blur"></div>
        </div>
        <div class="card-content-container">
            <span id="chat-card-title">Chat Room</span>
            <div id="chat-message-container">

            </div>
            <div id="chat-send-container">
                <input id="chat-send-message" placeholder="Type a message...">
                <button id="chat-send" class="large-button">Send</button>
            </div>
        </div>
    </div>
    <img id="chat-switch">
</div>
{% endblock %}