{% extends "base.html" %}
{% load static %}

{% block title %} Monopoly {% endblock %}

{% block files %}
<link rel="stylesheet" href="{% static 'css/game.css' %}">
<link rel="stylesheet" href="{% static 'css/rolling_dice.css' %}">
<script src="{% static 'js/views/game.js' %}" type="text/javascript"></script>
<script src="{% static 'js/game_views/three/three.js' %}" type="text/javascript"></script>
<script src="{% static 'js/game_views/three/orbit_controls.js' %}" type="text/javascript"></script>
<script src="{% static 'js/game_views/board.js' %}" type="text/javascript"></script>
<script src="{% static 'js/game_views/player.js' %}" type="text/javascript"></script>
<script src="{% static 'js/game_views/property_manager.js' %}" type="text/javascript"></script>
<script src="{% static 'js/game_views/game_controller.js' %}" type="text/javascript"></script>
<script src="{% static 'js/game_views/board_controller.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="game-container">
    <div id="users-container"></div>
    <!--<div id="cash-card" class="card">-->
        <!--<div class="card-blur-container">-->
            <!--<div class="card-blur"></div>-->
        <!--</div>-->
        <!--<div class="card-content-container">-->
            <!--$2333-->
        <!--</div>-->
    <!--</div>-->
    <div id="chat-card" class="card center-card hidden">
        <div class="card-blur-container">
            <div class="card-blur"></div>
        </div>
        <div class="card-content-container">
            <span id="chat-card-title">Chat Room</span>
            <div id="chat-message-container">

            </div>
            <div id="chat-send-container">
                <input id="chat-send-message" placeholder="Type a message...">
                <button id="chat-send" class="large-button">Send</button>
            </div>
        </div>
    </div>
    <div id="dice-card" class="card center-card hidden">
        <div class="card-blur-container">
            <div class="card-blur"></div>
        </div>
        <div class="card-content-container">
            {% include "rolling_dice.html" %}
        </div>
    </div>
    <!--<img id="chat-switch">-->
</div>
{% endblock %}