<!DOCTYPE html>
<html>
<head>
    <title>Monopoly</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div id="page-container" class="center">
    <div id="login-blur" class="center"></div>
    <form id="login-container" class="center card login-card" method="POST">
        {% csrf_token %}
        <span id="login-title">{{active_page}} to Monopoly</span>
        {% if active_page == "register" %}
        <div id="login-name-group">
            <input name="firstname" id="login-first-name" placeholder="First Name"></input>
            <input name="lastname" id="login-last-name" placeholder="Last Name"></input>
        </div>
        <input name="email" type="email" id="login-email" placeholder="Email"></input>
        {% endif %}
        <input name="username" id="login-user-name" placeholder="User Name"></input>
        <input name="password" type="password" id="login-password" placeholder="Password"></input>
        <button type="submit" id="login-submit" class="large-button">{{active_page}}</button>
    </form>
    <span id="login-switch" class="card">
                {% if active_page == "register" %}
                Already Signed Up? &nbsp;
                <a href="/login">Log Into Existing Account</a>
                {% else %}
                New Here? &nbsp;
                <a href="/register">Create New Account</a>
                {% endif %}
            </span>
</div>
</body>
</html>