<div id="scoreboard">
    <div class="scoreboard-row">
        <span class="scoreboard-ranking">1</span>
        <img class="chat-message-avatar" src="/static/images/favicon.png">
        <span class="scoreboard-username">Zhongyi Tong</span>
        <div class="monopoly-cash">M</div>
        <span class="scoreboard-score">2333</span>
    </div>
    <div class="scoreboard-row">
        <span class="scoreboard-ranking">2</span>
        <img class="chat-message-avatar" src="/static/images/favicon.png">
        <span class="scoreboard-username">Zhongyi Tong</span>
        <div class="monopoly-cash">M</div>
        <span class="scoreboard-score">2333</span>
    </div>
    <div class="scoreboard-row">
        <span class="scoreboard-ranking">3</span>
        <img class="chat-message-avatar" src="/static/images/favicon.png">
        <span class="scoreboard-username">Zhongyi Tong</span>
        <div class="monopoly-cash">M</div>
        <span class="scoreboard-score">2333</span>
    </div>
    <div class="scoreboard-row">
        <span class="scoreboard-ranking">4</span>
        <img class="chat-message-avatar" src="/static/images/favicon.png">
        <span class="scoreboard-username">Zhongyi Tong</span>
        <div class="monopoly-cash">M</div>
        <span class="scoreboard-score">2333</span>
    </div>
</div>